[submodule "plugins/cygwin-sudo/elevate"]
	path = plugins/cygwin-sudo/elevate
	url = git@github.com:forivall/elevate.git
[submodule "zgen"]
	path = zgen
	url = git@github.com:forivall/zgen.git
[submodule "plugins/external-tools/fabiokr-dotfiles"]
	path = plugins/external-tools/fabiokr-dotfiles
	url = git@github.com:forivall/fabiokr-dotfiles.git
[submodule "plugins/external-tools/leshylabs-blogcode"]
	path = plugins/external-tools/leshylabs-blogcode
	url = git@github.com:leshylabs/blogcode.git
[submodule "plugins/git/git-standup"]
	path = plugins/git/git-standup
	url = git@github.com:kamranahmedse/git-standup.git
