[submodule "plugins/cygwin-sudo/elevate"]
	path = plugins/cygwin-sudo/elevate
	url = https://github.com/forivall/elevate.git
	pushurl = git@github.com:forivall/elevate.git
[submodule "zgen"]
	path = zgen
	url = https://github.com/forivall/zgen.git
	pushurl = git@github.com:forivall/zgen.git
[submodule "plugins/external-tools/fabiokr-dotfiles"]
	path = plugins/external-tools/fabiokr-dotfiles
	url = https://github.com/forivall/fabiokr-dotfiles.git
	pushurl = git@github.com:forivall/fabiokr-dotfiles.git
[submodule "plugins/external-tools/leshylabs-blogcode"]
	path = plugins/external-tools/leshylabs-blogcode
	url = https://github.com/leshylabs/blogcode.git
	pushurl = git@github.com:leshylabs/blogcode.git
[submodule "plugins/git/git-standup"]
	path = plugins/git/git-standup
	url = https://github.com/kamranahmedse/git-standup.git
	pushurl = git@github.com:kamranahmedse/git-standup.git
[submodule "vim.janus/editorconfig"]
	path = vim.janus/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "scripts/Youtube2Webpage"]
	path = scripts/Youtube2Webpage
	url = https://github.com/obra/Youtube2Webpage.git
