.mac, .windows, .linux { letter-spacing: -0.02rem }
/* .windows.windows{font-family:Segoe WPC,Segoe UI,sans-serif} */
/* .linux.linux{font-family:system-ui,Ubuntu,Droid Sans,sans-serif} */
.mac.mac {font-family: "SF Pro Display",-apple-system,BlinkMacSystemFont,sans-serif}
.mac.mac{--monaco-monospace-font:"FantasqueSansM Nerd Font","FantasqueSansMono Nerd Font","SF Mono",Monaco,Menlo,Courier,monospace}
.windows.windows{--monaco-monospace-font:"FantasqueSansM Nerd Font","FantasqueSansMono Nerd Font",Consolas,"Courier New",monospace}
.linux.linux{--monaco-monospace-font:"FantasqueSansM Nerd Font","FantasqueSansMono Nerd Font","Ubuntu Mono","Liberation Mono","DejaVu Sans Mono","Courier New",monospace}
:root {
  --font-size-13: 12px;
  --row-height: 18px; --factor: 0.81818; /* 18/22
  /* --row-height: 22px; --factor: 1; */
}
.keybindings-editor {
  padding: 11px 0 0 0;
}
.keybindings-editor>.keybindings-header {
  padding-left: 10px;
}
.custom-list-row .monaco-workbench .monaco-list-row .codicon[class*=codicon-] {
  font-size: 16px;
}

.custom-list-row .timeline-tree-view .monaco-list .monaco-list-row .custom-view-tree-node-item>div.custom-view-tree-node-item-icon,
.custom-list-row .customview-tree .monaco-list .monaco-list-row .custom-view-tree-node-item>.custom-view-tree-node-item-resourceLabel>div.custom-view-tree-node-item-icon,
.custom-list-row .monaco-list-rows div.monaco-icon-label:before,
.custom-list-row .search-view div.monaco-icon-label:before {
  width: 16px;
  background-size: 16px;
}
.custom-list-row .customview-tree .monaco-tree .monaco-tree-row .custom-view-tree-node-item>.custom-view-tree-node-item-icon,
.custom-list-row .monaco-panel-view .panel>.panel-header>.actions .action-label.icon,
.custom-list-row .customview-tree .monaco-tree .monaco-tree-row .custom-view-tree-node-item>.custom-view-tree-node-item-icon,
.custom-list-row .monaco-pane-view .pane>.pane-header,
.custom-list-row .monaco-pane-view .pane>.pane-header>.actions .action-label.icon,
.custom-list-row .monaco-pane-view .pane>.pane-header>.actions .action-label.codicon {
  background-size: 16px;
}
.custom-header .part.panel .monaco-action-bar .action-item .codicon:not(.extension-action),
.custom-header .part.editor .monaco-action-bar .action-item .codicon:not(.extension-action),
.custom-header .monaco-workbench .part.editor>.content .editor-group-container>.title div.monaco-icon-label:before {
  background-size: 16px;
}
body.horizontal-activitybar .monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator {
  color: var(--vscode-activityBar-activeBorder);
}
body.horizontal-activitybar .monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator:before {
  bottom: unset;
  top: 0px;
  left: 0px;
  height: 100%;
  border-width: 3px;
  border-style: solid;
  border-top-style: solid;
  /* border-top-color: transparent; */
  border-left-width: 2px;
  border-right-width: 2px;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  box-sizing: border-box;
}
.horizontal-activitybar .monaco-workbench .activitybar .menubar,
.custom-activitybar div.monaco-workbench div.activitybar>div.content div.monaco-action-bar ul.actions-container li.action-item a.action-label {
  font-size: calc(var(--activity-bar-action-size) * 9 / 13);
  -webkit-mask-size: calc(var(--activity-bar-action-size) * 9 / 13 - 4px);
  mask-size: calc(var(--activity-bar-action-size) * 9 / 13);
}
.horizontal-activitybar .monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .badge .badge-content {
  padding: 0 2px;
  height: 12px;
  line-height: 12px;
  top: 12px;
  right: 0;
  backdrop-filter: blur(1px);
}
.sticky-widget {
  backdrop-filter: blur(1.5px);
}
.horizontal-activitybar .monaco-workbench .progress-badge>.badge-content:before {
  width: 12px;
  height: 12px;
  -webkit-mask-size: 12px;
  opacity: 0.8;
}

/* .horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item.right:before,
.horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item:last-of-type.left:after {
  background-color: var(--insert-border-color);
}

.horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item.right:after,
.horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item.right:before,
.horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item.left:after,
.horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item.left:before {
  transition-delay: 0s;
} */

.horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item:before {
  left: 1px;
  margin-left: -2px;
}
.horizontal-activitybar .monaco-workbench .activitybar>.content>.composite-bar>.monaco-action-bar .action-item:after {
  right: 1px;
  margin-right: -2px;
}

.horizontal-activitybar .monaco-workbench .activitybar>.content .composite-bar>.monaco-action-bar .action-item:after,
.horizontal-activitybar .monaco-workbench .activitybar>.content .composite-bar>.monaco-action-bar .action-item:before {
  width: 2px;
  height: var(--activity-bar-action-size);
}
.monaco-workbench .monaco-action-bar:not(.vertical) .action-item.icon:hover .action-label:not(.disabled):hover {
  background-color: unset;
}
.monaco-workbench .monaco-action-bar:not(.vertical) .action-item.icon:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}
/* .monaco-workbench .activitybar .monaco-action-bar .action-label.action-label.activity-workbench-view-extension-js-notebook-inspector-f0b07fe8be4bbf4fdf9e656f027e5402a1b79493 {
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8%207.00003H4M8%2012H4M8%2017H4M12%203V21M9.2%2021H16.8C17.9201%2021%2018.4802%2021%2018.908%2020.782C19.2843%2020.5903%2019.5903%2020.2843%2019.782%2019.908C20%2019.4802%2020%2018.9201%2020%2017.8V6.20003C20%205.07993%2020%204.51987%2019.782%204.09205C19.5903%203.71573%2019.2843%203.40977%2018.908%203.21802C18.4802%203.00003%2017.9201%203.00003%2016.8%203.00003H9.2C8.07989%203.00003%207.51984%203.00003%207.09202%203.21802C6.71569%203.40977%206.40973%203.71573%206.21799%204.09205C6%204.51987%206%205.07993%206%206.20003V17.8C6%2018.9201%206%2019.4802%206.21799%2019.908C6.40973%2020.2843%206.71569%2020.5903%207.09202%2020.782C7.51984%2021%208.07989%2021%209.2%2021Z%22%20stroke%3D%22%23131A29%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A") 50% 50% / 24px no-repeat;
} */ /*
.monaco-workbench .activitybar .monaco-action-bar .action-label.action-label.activity-workbench-view-extension-deoptexplorer-container-5f9a2d90f1a47f2d1c0d1aadb7ce93107efaa083 {
  -webkit-mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2224%22%20viewBox%3D%220%200%2012%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M5.05.31c.81%202.17.41%203.38-.52%204.31C3.55%205.67%201.98%206.45.9%207.98c-1.45%202.05-1.7%206.53%203.53%207.7-2.2-1.16-2.67-4.52-.3-6.61-.61%202.03.53%203.33%201.94%202.86%201.39-.47%202.3.53%202.27%201.67-.02.78-.31%201.44-1.13%201.81%203.42-.59%204.78-3.42%204.78-5.56%200-2.84-2.53-3.22-1.25-5.61-1.52.13-2.03%201.13-1.89%202.75.09%201.08-1.02%201.8-1.86%201.33-.67-.41-.66-1.19-.06-1.78C8.18%205.31%208.68%202.45%205.05.32L5.03.3l.02.01Z%22%2F%3E%3C%2Fsvg%3E") 50% 50% / 24px no-repeat;
} */
.mac.trongthanh-theme-boxythemekit-themes-Boxy-Yesterday-json { -webkit-text-stroke: 0.16px }
@media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
  .mac.trongthanh-theme-boxythemekit-themes-Boxy-Yesterday-json { -webkit-text-stroke: 0.3px }
}
@media (-webkit-min-device-pixel-ratio: 2), (max-resolution: 2dppx) {
  .mac.trongthanh-theme-boxythemekit-themes-Boxy-Yesterday-json .suggest-widget { -webkit-text-stroke: 0.05px }
}
.minimap { opacity: 0.5 }
.minimap:hover { opacity: 0.9 }
.monaco-editor .indent-active { opacity: 0.50 !important }
.monaco-editor .horizontal-bottom.indent-active { border-bottom-style: dashed }
.monaco-editor .inline-folded:after { content: '   '; background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%224%22%20width%3D%2214%22%3E%3Cg%20fill%3D%22rgba(238%2C%20238%2C%20238%2C%200.5)%22%3E%3Ccircle%20cx%3D%222%22%20cy%3D%222%22%20r%3D%221.5%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%222%22%20r%3D%221.5%22%2F%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%222%22%20r%3D%221.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center left }
.editor-scrollable .decorationsOverviewRuler { opacity: 0.75 }
.monaco-dialog-modal-block { align-items: flex-start; padding-top: 24px }
.explorer-viewlet .monaco-icon-label:before { height: calc(var(--row-height) - 2px); padding-right: 2px;opacity: 0.9 }
.explorer-folders-view .monaco-list-row { padding-left: 0 }
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-tl-twistie.force-twistie { width: 0!important; padding-right: 13px!important; margin-left:-13px!important;position:relative;left: 12px;z-index:1 }
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-tl-twistie.force-twistie:before { text-shadow: 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background), 0 0 1.5px var(--vscode-sideBar-background) }
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-list .monaco-list-row.selected .monaco-tl-twistie.force-twistie:before { text-shadow: 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground), 0 0 1.5px var(--vscode-list-inactiveFocusBackground) }
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-list:focus .monaco-list-row.selected .monaco-tl-twistie.force-twistie:before { text-shadow: 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground), 0 0 1.5px var(--vscode-list-activeFocusBackground) }
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-list .monaco-list-row.selected .monaco-tl-twistie.force-twistie:before { text-shadow: 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground), 0 0 1.5px var(--vscode-list-inactiveSelectionBackground) }
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-list:focus .monaco-list-row.selected .monaco-tl-twistie.force-twistie:before { text-shadow: 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground), 0 0 1.5px var(--vscode-list-activeSelectionBackground) }
/* .explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-tl-twistie.force-twistie:before { transform: scale(0.6); } */var(--vscode-list-inactiveSelectionBackground)
/* .explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-tl-twistie.force-twistie.collapsed:before { transform: rotate(-90deg) scale(0.6); } */
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-tl-twistie.force-twistie + .monaco-tl-contents .monaco-icon-label::before { pointer-events: none }
.explorer-viewlet .file-icon-themable-tree.hide-arrows .monaco-tl-twistie.force-twistie + .monaco-tl-contents .monaco-icon-label::before { pointer-events: none }
.explorer-viewlet .file-icon-themable-tree.hide-arrows.explorer-folders-view .explorer-item.align-nest-icon-with-parent-icon { margin-left: 0 }
.customview-tree .monaco-list .monaco-list-row .custom-view-tree-node-item { padding-left: 0; height: var(--row-height); line-height: var(--row-height) }
.customview-tree .monaco-list .monaco-list-row .custom-view-tree-node-item .monaco-icon-label::before, .customview-tree .monaco-list .monaco-list-row .custom-view-tree-node-item>.custom-view-tree-node-item-icon { height: var(--row-height) }
.search-view .monaco-list .monaco-list-row .monaco-icon-label::before { height: var(--row-height) }
.search-view .filematch, .search-view .foldermatch { line-height: var(--row-height) }
[aria-label='Focused Folder Section'] + .pane-body .tree-explorer-viewlet-tree-view .customview-tree .monaco-tl-twistie:not(.force-twistie) { background-image: none!important; width: 0!important; padding-right: 0!important; visibility: hidden; }
[aria-label='Focused Folder Section'] + .pane-body .tree-explorer-viewlet-tree-view .customview-tree .monaco-tl-indent { margin-left: -4px; }
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions .action-label, .monaco-workbench .part.editor>.content .editor-group-container>.title .title-actions .action-label { height: 24px }
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab { height: 24px }
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container { height: 24px }
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label { line-height: 24px }
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions { height: 24px; padding-right: 4px }
.monaco-workbench .part.editor>.content .editor-group-container>.title .monaco-icon-label:before { height: 24px }
.monaco-icon-label.file-icon.workspacetrusteditor-name-file-icon.ext-file-icon.tab-label:before { line-height: 26px !important }
/* This isn't in the original CSS, but there's a pesky `style="height: 35px"` in a child element */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-and-actions-container { height: 24px; overflow-y: hidden }
@keyframes pulse_goto_definition_link { from { color: #4E94CE; } to { color: blue; } }
.monaco-editor .goto-definition-link { animation: 0.7s cubic-bezier( 0.7, 0.2, 0.8, 0.9 ) infinite alternate pulse_goto_definition_link }
/* side bar actions */
.monaco-workbench .part>.title { height: 24px }
.monaco-workbench .part>.title>.title-label { line-height: 25px }
.monaco-workbench .part.sidebar>.title>.title-label { padding-left: 0 }
.monaco-workbench .open-editors .monaco-list .monaco-list-row { padding-left: 2px }
.monaco-workbench .open-editors .monaco-list .monaco-list-row .editor-group { margin-left: 16px }
.monaco-workbench .open-editors .monaco-list .monaco-list-row>.editor-group + .monaco-action-bar { margin-right: 8px }
.monaco-workbench .open-editors .monaco-list .monaco-list-row>.editor-group + .monaco-action-bar .action-item { margin-right: 4px }
.monaco-workbench .part.basepanel>.composite.title>.panel-switcher-container>.monaco-action-bar .action-item .active-item-indicator { top: unset }
.monaco-workbench .part.basepanel>.composite.title>.panel-switcher-container>.monaco-action-bar { height: 26px }
.monaco-workbench .part>.title>.title-actions { height: 24px; padding-left: 2px }
.monaco-workbench .part>.composite.title>.title-actions { padding-left: 2px }
.monaco-workbench .part>.title>.title-actions .action-label { height: 24px; line-height: 24px }
.monaco-workbench .part>.title>.title-actions .start-debug-action-item { margin-top: 0px }
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions .action-label:not(span), .monaco-workbench .part.editor>.content .editor-group-container>.title .title-actions .action-label { height: 24px; min-width: 20px }
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions .action-label.codicon.codicon-go-to-file { margin-top: -1px }
.monaco-action-bar .action-label { margin-right: 2px }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item>:first-child { margin-right: 2px; margin-left: 2px }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item[id="Gruntfuggly.activitusbar"]>:first-child { margin-right: 1px; margin-left: 0px }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item[id="Gruntfuggly.activitusbar"]>a { padding-left: 4px; padding-right: 4px }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item[id="grimmer.vscode-back-forward-button"]>:first-child { margin-right: 1px }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item[id="grimmer.vscode-back-forward-button"] + .statusbar-item[id="grimmer.vscode-back-forward-button"]>:first-child { margin-right: 3px; margin-left: 0px }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.has-background-color>:first-child { padding-left: 5px; padding-right: 5px }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item.right.last-visible-item { padding-right: 0 }
.monaco-workbench .part.statusbar>.items-container>.statusbar-item[id="status.notifications"].right.last-visible-item>:first-child { margin-right: 0 }
.monaco-workbench .part.panel>.composite.title>.panel-switcher-container>.monaco-action-bar { height: 24px; line-height: 20px }
/* with the default 35px, this would give a 6px margin on the bottom. Here, we have a 3px bottom margin.
// The padding for this is top: 3px; bottom: 4px, which is exactly the offset we need. */
.monaco-workbench .part.panel .composite.title>.panel-switcher-container>.monaco-action-bar .action-item { padding-top: 0; padding-bottom: 0 }
.monaco-workbench .part.panel>.composite.title>.panel-switcher-container>.monaco-action-bar .action-item .action-label { padding-bottom: 0 }
.monaco-workbench .part.panel .composite.title .monaco-action-bar .markers-panel-action-filter .monaco-inputbox { height: 22px }
.markers-panel .monaco-tl-contents .marker-icon, .markers-panel .monaco-tl-contents .monaco-icon-label::before { height: var(--row-height) }
.markers-panel .markers-panel-container .tree-container .monaco-tl-contents { line-height: var(--row-height) }
.monaco-workbench .part.panel .composite.title { height: 26px }
.monaco-workbench .part.panel.bottom>.content { margin-bottom: 9px }
.monaco-workbench .part.panel.bottom>.content[style]>.composite { height: calc(100% + 9px) }
.monaco-workbench .part.panel.bottom>.content [style]>.monaco-list { height: calc(100% + 19px) }
.monaco-workbench .part.sidebar { height: calc(100% + 11px) }
.monaco-workbench .part.sidebar>.content[style]>.composite { height: calc(100% + 11px) }
.monaco-workbench .part.sidebar>.content>.composite>.monaco-pane-view>.monaco-split-view2.vertical>.monaco-scrollable-element>.split-view-container>.split-view-view.visible:last-child>.pane { height: calc(100% + 11px) }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance { height: calc(100% + 11px) }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style] { height: calc(100% + 11px) !important }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]> { height: calc(100% + 11px) !important }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.editor-scrollable.monaco-scrollable-element { height: 100% !important; transform: none !important; }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.editor-scrollable.monaco-scrollable-element>* { transform: translateY(5px) }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.editor-scrollable.monaco-scrollable-element>.lines-content[style] { transform: translate3d(0px, 0px, 0px) translateY(5px) !important }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.editor-scrollable.monaco-scrollable-element>.scrollbar { transform: none }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>* { transform: translateY(5px) !important }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.overlayWidgets { transform: none !important }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.overlayWidgets>.zone-widget { transform: translateY(5px) !important }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.scroll-decoration { transform: none !important }
.monaco-workbench .part.editor>.content .editor-group-container>.editor-container[style]>.editor-instance>.monaco-editor>.overflow-guard[style]>.margin[style] { transform: translate3d(0px, 0px, 0px) translateY(5px) !important }
.monaco-workbench .part.panel .title>.panel-switcher-container>.monaco-action-bar .action-item { padding-top: 0; padding-bottom: 0 }
.monaco-workbench .part.panel .title .monaco-action-bar .markers-panel-action-filter .monaco-inputbox { height: 22px }
.monaco-workbench .part.panel .title { line-height: 16px }
.monaco-pane-view .pane>.pane-header { height: 18px }
.monaco-pane-view .pane.vertical>.pane-header h3.title { margin-top: 1px }
.monaco-pane-view .pane.horizontal:not(.expanded)>.pane-header { height: 100% !important }
.part.panel.bottom .search-view .search-widget { display: flex; justify-content: space-between }
.part.panel.bottom .search-view .search-widget .search-container { flex: 1 1 49.5% }
.part.panel.bottom .search-view .search-widget .replace-container { margin-top: 0; margin-left: 1%;width: 49.5% }
.part.panel.bottom .search-view .search-widget .replace-container .replace-input { width: 100%!important }
.part.panel.bottom .search-view .search-widget .replace-container .replace-input>[style] { width: 100%!important }
.part.panel.bottom .search-view .search-widget .replace-container .replace-input .ibwrapper>[style] { width: 100%!important }
.part.panel.bottom .search-view .query-details.more h4 { padding-top: 2px; margin-bottom: -2px }
.part.panel.bottom .search-view .query-details { display: flex; justify-content: space-between; min-height: 4px }
.part.panel.bottom .search-view .query-details.more .file-types { flex-direction: column; width: 49.5% }
.part.panel.bottom .search-view .query-details .ibwrapper>.input { max-width: calc(100% - 14px) }
.part.panel.bottom .search-view .search-widgets-container { padding-bottom: 2px }
.part.panel.bottom .search-view .message { padding-bottom: 2px }
.markers-panel-container .monaco-action-bar.markers-panel-filter-container { margin-top:6px; margin-bottom: 4px }
.monaco-workbench .tree-explorer-viewlet-tree-view .message { padding-bottom: 2px; padding-left: 16px }
.codicon-search-hide-replace + .search-container .monaco-inputbox>.ibwrapper>.input { width:calc(100% + 4px) }
/* pi-material-icons bookmark */
.codicon-explorer-view-icon[title='Explorer: Mark Jump']::before { content: '\EA7C' !important }
/* pi-material-icons book */
.codicon-explorer-view-icon[title='Documentation: Documentation']::before { content: '\EA93' !important }
/* Let the quick pick take the full window height, so that more bindings are visible. */
.quick-input-widget > .quick-input-list > .monaco-list { max-height: 60vh !important; }
/* Colorize icons uniformly and add some extra padding */
.quick-input-widget > .quick-input-list .codicon { color: #83a598 !important; padding-right: 5px; }
/* Colorize entries starting with a `+` differently */
.quick-input-widget > .quick-input-list .monaco-list-row[aria-label*=" +"] .label-description { color: #8ec07c; }

.custom-list-row .quick-input-list .monaco-list.monaco-list .monaco-list-row.focused {
  /* todo: use box-shadow instead of outline */
  outline: 2px solid var(--vscode-quickInputList-focusBackground);
}
.custom-list-row .quick-input-header {
  padding-bottom: 4px;
}
.custom-list-row .quick-input-widget > .quick-input-list > .monaco-list > .monaco-scrollable-element {
  margin-top: 2px;
}
.custom-list-row .quick-input-widget > .quick-input-list > .monaco-list > .monaco-scrollable-element[style] {
  overflow: visible !important;
}
.custom-list-row .quick-input-widget > .quick-input-list > .monaco-list > .monaco-scrollable-element > .monaco-list-rows[style] {
  overflow: visible !important;
  contain: layout !important;
}
.monaco-split-view2>.monaco-scrollable-element>.split-view-container>.split-view-view>.part.auxiliarybar.basepanel.right {
  height: 100%;
}
