<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>4F65343E-56E5-46B5-A015-AD6DD2745FF7_details</key>
	<false/>
	<key>Battery_barChart_position</key>
	<integer>4</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>0</integer>
	<key>Battery_battery_details_mode</key>
	<string>time</string>
	<key>Battery_battery_position</key>
	<integer>2</integer>
	<key>Battery_color</key>
	<true/>
	<key>Battery_label_position</key>
	<integer>1</integer>
	<key>Battery_mini_position</key>
	<integer>3</integer>
	<key>Battery_notifications_high</key>
	<string></string>
	<key>Battery_notifications_low</key>
	<string>low</string>
	<key>Battery_position</key>
	<integer>7</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string>battery_details</string>
	<key>Bluetooth_label_position</key>
	<integer>1</integer>
	<key>Bluetooth_position</key>
	<integer>6</integer>
	<key>Bluetooth_sensors_alignment</key>
	<string>right</string>
	<key>Bluetooth_sensors_mode</key>
	<string>twoRows</string>
	<key>Bluetooth_sensors_monospacedFont</key>
	<true/>
	<key>Bluetooth_stack_position</key>
	<integer>0</integer>
	<key>Bluetooth_state</key>
	<true/>
	<key>Bluetooth_widget</key>
	<string></string>
	<key>CPU_barChart_position</key>
	<integer>1</integer>
	<key>CPU_label_position</key>
	<integer>3</integer>
	<key>CPU_lineChartScale</key>
	<string>none</string>
	<key>CPU_lineChart_position</key>
	<integer>0</integer>
	<key>CPU_line_chart_box</key>
	<false/>
	<key>CPU_line_chart_color</key>
	<string>teal</string>
	<key>CPU_line_chart_frame</key>
	<false/>
	<key>CPU_line_chart_historyCount</key>
	<integer>30</integer>
	<key>CPU_line_chart_valueColor</key>
	<true/>
	<key>CPU_mini_position</key>
	<integer>2</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>2</integer>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>line_chart</string>
	<key>Clock_label_position</key>
	<integer>1</integer>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>Clock_stack_position</key>
	<integer>0</integer>
	<key>Clock_state</key>
	<false/>
	<key>Clock_widget</key>
	<string></string>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>CombinedModules_separator</key>
	<false/>
	<key>CombinedModules_spacing</key>
	<string>none</string>
	<key>Disk_SMART</key>
	<false/>
	<key>Disk_barChart_position</key>
	<integer>5</integer>
	<key>Disk_disk</key>
	<string>Macintosh HD</string>
	<key>Disk_label_position</key>
	<integer>4</integer>
	<key>Disk_memory_color</key>
	<string>monochrome</string>
	<key>Disk_memory_orderReversed</key>
	<false/>
	<key>Disk_memory_position</key>
	<integer>0</integer>
	<key>Disk_memory_symbols</key>
	<false/>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>1</integer>
	<key>Disk_oneView</key>
	<true/>
	<key>Disk_pieChart_position</key>
	<integer>6</integer>
	<key>Disk_position</key>
	<integer>1</integer>
	<key>Disk_readColor</key>
	<string>cyan</string>
	<key>Disk_speed_position</key>
	<integer>7</integer>
	<key>Disk_text_position</key>
	<integer>3</integer>
	<key>Disk_updateInterval</key>
	<integer>1</integer>
	<key>Disk_widget</key>
	<string>network_chart,memory</string>
	<key>Disk_writeColor</key>
	<string>secondRed</string>
	<key>FAN_bar_chart_box</key>
	<false/>
	<key>FAN_bar_chart_frame</key>
	<false/>
	<key>FAN_bar_chart_label</key>
	<false/>
	<key>GPU_barChart_position</key>
	<integer>3</integer>
	<key>GPU_gpu</key>
	<string>automatic</string>
	<key>GPU_label_position</key>
	<integer>2</integer>
	<key>GPU_lineChart_position</key>
	<integer>0</integer>
	<key>GPU_line_chart_box</key>
	<false/>
	<key>GPU_line_chart_color</key>
	<string>secondPurple</string>
	<key>GPU_line_chart_historyCount</key>
	<integer>30</integer>
	<key>GPU_mini_position</key>
	<integer>1</integer>
	<key>GPU_position</key>
	<integer>3</integer>
	<key>GPU_state</key>
	<true/>
	<key>GPU_tachometer_position</key>
	<integer>4</integer>
	<key>GPU_widget</key>
	<string>line_chart</string>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va3QDAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAADwCAAAEAAAAAwMAAAAEAAAFAAAAAQEAAFVzZXJzAAAADQAAAAEB
	AABlbWlseS5rbGFzc2VuAAAABAAAAAEBAABjb2RlCAAAAAEBAABwZXJzb25hbAgAAAAB
	AQAAZG90ZmlsZXMGAAAAAQEAAGNvbmZpZwAAGAAAAAEGAAAQAAAAIAAAADgAAABEAAAA
	VAAAAGQAAAAIAAAABAMAAIRcAAAAAAAACAAAAAQDAADoygMAAAAAAAgAAAAEAwAAN/0I
	AAAAAAAIAAAABAMAAFj9CAAAAAAACAAAAAQDAABr/QgAAAAAAAgAAAAEAwAAH3zCBQAA
	AAAYAAAAAQYAAJQAAACkAAAAtAAAAMQAAADUAAAA5AAAAAgAAAAABAAAQcSzBvc4l9MY
	AAAAAQIAAAIAAAAAAAAAHwIAAAAAAAAfAgAAAAAAAAAAAAABBQAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHWNHAAAAAJAAAAAEBAAA5RDU1Q0MzQS1B
	MzRELTQ4NzItQjBENS0yQUZDRkRBM0EyNUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAADv
	EwAAAQAAAAEAAAABAQAALwAAADAAAAABAgAAZG5pYgAAAAABAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAcmRsZgIAAAAAAAAA8AAAAP7///8BAAAAAAAAABMAAAAEEAAAdAAA
	AAAAAAAFEAAA9AAAAAAAAAAQEAAAJAEAAAAAAABAEAAAFAEAAAAAAAACIAAA+AEAAAAA
	AAAFIAAAaAEAAAAAAAAQIAAAeAEAAAAAAAARIAAArAEAAAAAAAASIAAAjAEAAAAAAAAT
	IAAAnAEAAAAAAAAgIAAA2AEAAAAAAAAwIAAARAEAAAAAAAABwAAATAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAXAEAAAAAAAAB0AAARAEAAAAAAAAQ0AAABAAAAAAAAAAX8AAAZAAA
	AAAAAAAi8AAABAIAAAAAAAA=
	</data>
	<key>NSStatusItem Preferred Position CombinedModules</key>
	<real>276</real>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>380</real>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>330</integer>
	<key>NSStatusItem Restore Position Battery_battery_details</key>
	<integer>305</integer>
	<key>NSStatusItem Restore Position Battery_label</key>
	<integer>541</integer>
	<key>NSStatusItem Restore Position Bluetooth</key>
	<integer>518</integer>
	<key>NSStatusItem Restore Position Bluetooth_sensors</key>
	<integer>509</integer>
	<key>NSStatusItem Restore Position CPU</key>
	<integer>336</integer>
	<key>NSStatusItem Restore Position CPU_bar_chart</key>
	<integer>554</integer>
	<key>NSStatusItem Restore Position CPU_line_chart</key>
	<integer>359</integer>
	<key>NSStatusItem Restore Position CPU_mini</key>
	<integer>485</integer>
	<key>NSStatusItem Restore Position Clock_sensors</key>
	<integer>515</integer>
	<key>NSStatusItem Restore Position Disk</key>
	<integer>437</integer>
	<key>NSStatusItem Restore Position Disk_memory</key>
	<integer>547</integer>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>417</integer>
	<key>NSStatusItem Restore Position Disk_network_chart</key>
	<integer>514</integer>
	<key>NSStatusItem Restore Position GPU</key>
	<integer>406</integer>
	<key>NSStatusItem Restore Position GPU_line_chart</key>
	<integer>394</integer>
	<key>NSStatusItem Restore Position Network</key>
	<integer>284</integer>
	<key>NSStatusItem Restore Position Network_network_chart</key>
	<integer>299</integer>
	<key>NSStatusItem Restore Position Network_speed</key>
	<integer>359</integer>
	<key>NSStatusItem Restore Position RAM</key>
	<integer>375</integer>
	<key>NSStatusItem Restore Position RAM_bar_chart</key>
	<integer>517</integer>
	<key>NSStatusItem Restore Position RAM_line_chart</key>
	<integer>332</integer>
	<key>NSStatusItem Restore Position RAM_mini</key>
	<integer>451</integer>
	<key>NSStatusItem Restore Position RAM_pie_chart</key>
	<integer>517</integer>
	<key>NSStatusItem Restore Position RAM_tachometer</key>
	<integer>517</integer>
	<key>NSStatusItem Restore Position RAM_text</key>
	<integer>507</integer>
	<key>NSStatusItem Restore Position Sensors</key>
	<integer>514</integer>
	<key>NSStatusItem Restore Position Sensors_bar_chart</key>
	<integer>546</integer>
	<key>NSStatusItem Restore Position Sensors_mini</key>
	<integer>514</integer>
	<key>NSStatusItem Restore Position Sensors_sensors</key>
	<integer>517</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>783 617 800 448 0 0 2304 1271 </string>
	<key>Network_label_position</key>
	<integer>2</integer>
	<key>Network_networkChart_position</key>
	<integer>0</integer>
	<key>Network_network_chart_downloadColor</key>
	<string>teal</string>
	<key>Network_network_chart_historyCount</key>
	<integer>30</integer>
	<key>Network_network_chart_scale</key>
	<string>linear</string>
	<key>Network_network_chart_uploadColor</key>
	<string>secondRed</string>
	<key>Network_position</key>
	<integer>5</integer>
	<key>Network_speed_position</key>
	<integer>1</integer>
	<key>Network_state</key>
	<true/>
	<key>Network_state_position</key>
	<integer>3</integer>
	<key>Network_text_position</key>
	<integer>4</integer>
	<key>Network_usageReset</key>
	<string>Once per week</string>
	<key>Network_widget</key>
	<string>network_chart</string>
	<key>Network_widgetActivationThreshold</key>
	<integer>1</integer>
	<key>Network_widgetActivationThresholdState</key>
	<true/>
	<key>RAM_barChart_position</key>
	<integer>2</integer>
	<key>RAM_label_position</key>
	<integer>6</integer>
	<key>RAM_lineChart_position</key>
	<integer>0</integer>
	<key>RAM_line_chart_box</key>
	<false/>
	<key>RAM_line_chart_color</key>
	<string>secondOrange</string>
	<key>RAM_line_chart_frame</key>
	<false/>
	<key>RAM_line_chart_historyCount</key>
	<integer>30</integer>
	<key>RAM_line_chart_label</key>
	<false/>
	<key>RAM_line_chart_scale</key>
	<string>none</string>
	<key>RAM_line_chart_value</key>
	<false/>
	<key>RAM_line_chart_valueColor</key>
	<true/>
	<key>RAM_memory_position</key>
	<integer>7</integer>
	<key>RAM_mini_position</key>
	<integer>5</integer>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_pie_chart_label</key>
	<false/>
	<key>RAM_pie_chart_monochrome</key>
	<false/>
	<key>RAM_position</key>
	<integer>4</integer>
	<key>RAM_tachometer_position</key>
	<integer>3</integer>
	<key>RAM_text_position</key>
	<integer>1</integer>
	<key>RAM_widget</key>
	<string>line_chart</string>
	<key>SSD_network_chart_downloadColor</key>
	<string>cyan</string>
	<key>SSD_network_chart_frame</key>
	<false/>
	<key>SSD_network_chart_historyCount</key>
	<integer>30</integer>
	<key>SSD_network_chart_scale</key>
	<string>linear</string>
	<key>SSD_network_chart_uploadColor</key>
	<string>secondRed</string>
	<key>Sensor_mini_label</key>
	<true/>
	<key>Sensors_barChart_position</key>
	<integer>1</integer>
	<key>Sensors_fanControl</key>
	<false/>
	<key>Sensors_fanValue</key>
	<string>rpm</string>
	<key>Sensors_hid</key>
	<false/>
	<key>Sensors_label_position</key>
	<integer>3</integer>
	<key>Sensors_mini_position</key>
	<integer>2</integer>
	<key>Sensors_oneView</key>
	<false/>
	<key>Sensors_position</key>
	<integer>0</integer>
	<key>Sensors_sensors_alignment</key>
	<string>right</string>
	<key>Sensors_sensors_mode</key>
	<string>twoRows</string>
	<key>Sensors_sensors_monospacedFont</key>
	<true/>
	<key>Sensors_sensors_size</key>
	<false/>
	<key>Sensors_stack_position</key>
	<integer>0</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_unknown</key>
	<false/>
	<key>Sensors_widget</key>
	<string>sensors</string>
	<key>ble_c0-95-6d-02-61-6f</key>
	<true/>
	<key>ble_c0-95-6d-02-61-6f_notification</key>
	<string>0.1</string>
	<key>dockIcon</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>sensor_Average CPU</key>
	<false/>
	<key>sensor_Fastest fan</key>
	<false/>
	<key>sensor_Hottest CPU</key>
	<true/>
	<key>sensor_Hottest GPU</key>
	<false/>
	<key>sensor_IDBR</key>
	<false/>
	<key>sensor_IU1R</key>
	<false/>
	<key>sensor_PMU TP0s</key>
	<false/>
	<key>sensor_PMU TP3g</key>
	<false/>
	<key>sensor_PMU tcal</key>
	<false/>
	<key>sensor_TH0x</key>
	<false/>
	<key>sensor_TaLP</key>
	<false/>
	<key>sensor_Te02</key>
	<true/>
	<key>sensor_Tg05</key>
	<false/>
	<key>sensor_Tm02</key>
	<false/>
	<key>sensor_Total System Consumption</key>
	<false/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1764010499</integer>
	<key>telemetry</key>
	<false/>
	<key>updater_check_ts</key>
	<integer>1764970286</integer>
	<key>version</key>
	<string>2.11.61</string>
</dict>
</plist>
