/_gjs
/_javascript
/_jsx
/_typescript
/ada
/adl
/agda
/alloy
/amber
/astro
/awk
/bash
/bass
/beancount
/bibtex
/bicep
/bitbake
/blade
/blueprint
/c
/c-sharp
/caddyfile
/cairo
/capnp
/cel
/circom
/clarity
/clojure
/cmake
/codeql
/comment
/common-lisp
/cpon
/cpp
/cross-config
/crystal
/css
/csv
/cue
/cylc
/cython
/d
/dart
/dbml
/debian
/devicetree
/dhall
/diff
/djot
/docker-bake
/docker-compose
/dockerfile
/dot
/doxyfile
/dtd
/dune
/dunstrc
/earthfile
/ecma
/edoc
/eex
/ejs
/elisp
/elixir
/elm
/elvish
/env
/erb
/erlang
/esdl
/fennel
/fga
/fidl
/fish
/flatbuffers
/forth
/fortran
/fsharp
/gas
/gdscript
/gemini
/gherkin
/ghostty
/git-attributes
/git-cliff-config
/git-commit
/git-config
/git-ignore
/git-notes
/git-rebase
/gjs
/gleam
/glimmer
/glsl
/gn
/go
/go-format-string
/godot-resource
/gomod
/gotmpl
/gowork
/gpr
/graphql
/gren
/groovy
/gts
/hare
/haskell
/haskell-persistent
/hcl
/hdl
/heex
/helm
/hocon
/hoon
/hosts
/html
/htmldjango
/hurl
/hyprlang
/iex
/ini
/ink
/inko
/janet
/java
/javascript
/jinja
/jjconfig
/jjdescription
/jjrevset
/jjtemplate
/jq
/jsdoc
/json
/json-ld
/json5
/jsonc
/jsonnet
/jsx
/julia
/just
/kconfig
/kdl
/koka
/kotlin
/koto
/latex
/ld
/ldif
/lean
/ledger
/llvm
/llvm-mir
/llvm-mir-yaml
/log
/lpf
/lua
/luap
/luau
/mail
/make
/markdoc
/markdown
/markdown-rustdoc
/markdown.inline
/matlab
/mermaid
/meson
/mojo
/move
/msbuild
/nasm
/nestedtext
/nginx
/nickel
/nim
/nix
/nu
/nunjucks
/ocaml
/ocaml-interface
/odin
/ohm
/opencl
/openscad
/org
/pascal
/passwd
/pem
/perl
/pest
/php
/php-only
/pip-requirements
/pkgbuild
/pkl
/po
/pod
/ponylang
/powershell
/prisma
/prolog
/properties
/protobuf
/prql
/pug
/purescript
/python
/qml
/quarto
/quint
/r
/racket
/regex
/rego
/rescript
/rmarkdown
/robot
/robots.txt
/ron
/rst
/ruby
/rust
/rust-format-args
/rust-format-args-macro
/sage
/scala
/scheme
/scss
/shellcheckrc
/slang
/slint
/smali
/smithy
/sml
/snakemake
/solidity
/sourcepawn
/spade
/spicedb
/sql
/sshclientconfig
/starlark
/strace
/strictdoc
/supercollider
/svelte
/sway
/swift
/systemd
/systemverilog
/t32
/tablegen
/tact
/task
/tcl
/teal
/templ
/tera
/textproto
/tfvars
/thrift
/tlaplus
/todotxt
/toml
/tsq
/tsx
/twig
/typescript
/typespec
/typst
/ungrammar
/unison
/uxntal
/v
/vala
/vento
/verilog
/vhdl
/vhs
/vim
/vue
/wast
/wat
/webc
/werk
/wesl
/wgsl
/wit
/wren
/xit
/xml
/xtc
/yaml
/yara
/yuck
/zig
