"*":
  "activate-power-mode":
    autoToggle: false
    screenShake:
      enabled: false
  "adwaita-pro-ui":
    fontFamily: "Oxygen-Sans"
    fontSize: 13
    iconTheme: "Octicons"
  "atom-beautify":
    general:
      _analyticsUserId: "fb921142-84d5-4639-8d26-e13dc763a02c"
  "atom-capyba-ui":
    layoutMode: "Compact"
  "atom-mac-terminal":
    terminal: "iTerm2"
  "atom-material-ui":
    accentColor: "Blue"
    compactTreeView: true
    depth: true
    disableAnimations: true
    fontSize: "Big"
    panelContrast: true
    showTabIcons: true
  "atom-terminal":
    app: "roxterm"
    args: "--tab"
  "atom-ternjs":
    lint: false
  "autocomplete-flow":
    pathToFlowExecutable: "/usr/local/bin/flow"
  "autocomplete-plus":
    autoActivationDelay: 150
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    includeCompletionsFromAllBuffers: true
    maxVisibleSuggestions: 20
    useAlternateScoring: false
  "base16-syntax":
    scheme: "Tomorrow"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "background-tips"
      "block-comment"
      "custom-invisibles"
      "hard-wrap"
      "linter-flake8"
      "linter-jshint"
      "linter-scss-lint"
      "linter-stylint"
      "preview-plus"
      "tree-view-breadcrumb"
      "welcome"
      "wrap-guide"
      "run-in-terminal"
      "git-wip"
      "autocomplete-flow"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".imdone"
      "tags"
      "npm-debug.log"
      "$RECYCLE.BIN"
      "*.localized"
    ]
    packagesWithKeymapsDisabled: [
      "sort-lines"
      "emmet"
      "imdone-atom"
      "es-identifier-highlight"
    ]
    themes: [
      "native-ui"
      "base16-syntax"
    ]
  "cursor-history":
    flashColor: "success"
    flashOnLand: true
    flashType: "word"
  "custom-invisibles":
    crActive: false
    eolActive: false
    spaceActive: false
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fantasque Sans Mono"
    fontSize: 13
    invisibles:
      cr: " "
      eol: " "
      space: " "
    lineHeight: 1.3
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "es-identifier-highlight":
    lightTheme: false
  "exception-reporting":
    userId: "d669d80a-cb48-445f-92bf-5ae1bb0d0696"
  "file-icons": {}
  "file-types":
    el: "source.perl"
  "fold-functions": {}
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-plus": {}
  "git-projects": {}
  "git-wip":
    notify: false
  "github-notifications":
    notificationAuthToken: " a77986444ecd25d526561a4606b0be8318c6cca7"
  "highlight-selected":
    lightTheme: true
    onlyHighlightWholeWords: true
  "ide-flow":
    flowPath: "/home/forivall/.opam/system/bin/flow"
  "indentation-indicator":
    indicatorPosition: "right"
    spaceAfterColon: true
  "js-autoimport": {}
  "language-babel": {}
  linter:
    ignoredLinterErrors: [
      "scss-lint"
    ]
    lintOnChange: false
    lintOnFly: false
    showErrorTabLine: true
    subtleLinterErrors: [
      "shellcheck"
    ]
    underlineIssues: false
  "linter-clang": {}
  "linter-eslint": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  "linter-stylint":
    stylintExecutablePath: "/home/forivall/.nvm/versions/node/v0.12.1/bin/stylint"
  "markdown-table-formatter": {}
  mdattachment:
    commonDirName: "."
    oneDirFolAllBuffers: true
  minimap:
    charHeight: 1.5
    charWidth: 0.7
    displayPluginsControls: false
    interline: 0.4
    scrollAnimation: true
    scrollAnimationDuration: 100
    textOpacity: 0.5
  "minimap-codeglance": {}
  "one-light-ui":
    fontSize: 13
  pigments:
    ignoredNames: [
      "*"
    ]
    sortPaletteColors: "by color"
  "preview-plus": {}
  "project-manager": {}
  "project-view": {}
  "recent-files-fuzzy-finder": {}
  "run-in-terminal":
    save_before_launch: false
    terminal: "ATOM_HOME= CHROME_DESKTOP= GOOGLE_API_KEY= NODE_ENV= NODE_PATH= PYTHON= roxterm --tab"
  "save-session":
    dataSaveFolder: "/home/forivall/.atom/packages/save-session/projects"
    skipSavePrompt: false
  "slim-dark-ui":
    layoutMode: "Compact"
  "status-bar": {}
  tabs:
    showIcons: true
    usePreviewTabs: true
  term3:
    colors:
      brightWhite:
        red: 214
        green: 214
        blue: 214
        alpha: 1
      foreground:
        red: 219
        green: 218
        blue: 220
        alpha: 1
  "theme-switcher":
    syntaxThemeOne: "tomorrow-ya"
    syntaxThemeTwo: "base16-syntax"
    uiThemeOne: "native-ui"
    uiThemeTwo: "native-ui"
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: true
    refreshVcsStatusOnProjectOpen: 5
  "tree-view-breadcrumb":
    displayProjectRoot: true
    displayProjectRootName: true
    keepAttached: true
    keepBreadcrumbVisible: true
    pathStyle: true
  "tree-view-git-projects":
    alphabetizeRoots: false
  "unity-dark-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
  whitespace: {}
  wrap: {}
  "you-complete-me":
    pythonExecutable: "/usr/bin/python2"
