"*":
  "exception-reporting":
    userId: "d669d80a-cb48-445f-92bf-5ae1bb0d0696"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "adwaita-ui"
      "atom-color-highlight"
      "atom-ctags"
      "atom-json-escape"
      "atom-terminal"
      "atom-ungit"
      "atomatigit"
      "autocomplete-plus-python-jedi"
      "build-tools"
      "browser-plus"
      "color-picker"
      "command-toolbar"
      "ctags-status"
      "dbus"
      "fixmyjs"
      "git-projects"
      "hide-files"
      "ide-flow"
      "language-babel"
      "linter-clang"
      "linter-coffeescript"
      "linter-flake8"
      "linter-flow"
      "linter-jshint"
      "linter-pep8"
      "linter-pyflakes"
      "linter-pylint"
      "linter-rust"
      "linter-scss-lint"
      "linter-stylint"
      "node-debugger"
      "preview-plus"
      "pigments"
      "recent-files-fuzzy-finder"
      "recent-files"
      "save-session"
      "selection-outlines"
      "sublime-tabs"
      "symbol-gen"
      "switch-header-source"
      "tab-length"
      "tomorrow"
      "webbox-color"
      "welcome"
      "wrap-guide"
      "wrap"
      "you-complete-me"
      "indent-guide-improved"
      "hyperclick"
      "atom-jinja2"
      "nuclide-type-hint"
      "linter-coffeelint"
      "tree-view-open-files"
      "smart-tab-name"
      "linter-xo"
    ]
    themes: [
      "adwaita-pro-ui"
      "tomorrow-ya"
    ]
    packagesWithKeymapsDisabled: [
      "sort-lines"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".imdone"
      "tags"
      "npm-debug.log"
    ]
    autoHideMenuBar: true
    destroyEmptyPanes: false
  editor:
    invisibles:
      cr: " "
      eol: " "
      space: " "
    fontFamily: "Fantasque Sans Mono"
    scrollPastEnd: true
    showInvisibles: true
    lineHeight: 1.2
    backUpBeforeSaving: true
    showIndentGuide: true
    fontSize: 13
  linter:
    lintOnChange: false
    ignoredLinterErrors: [
      "scss-lint"
    ]
    subtleLinterErrors: [
      "shellcheck"
    ]
    lintOnFly: false
    showErrorTabLine: true
    underlineIssues: false
  tabs:
    showIcons: true
    usePreviewTabs: true
  "tree-view":
    alwaysOpenExisting: true
    refreshVcsStatusOnProjectOpen: 5
    hideIgnoredNames: true
  "adwaita-pro-ui":
    fontSize: 13
    iconTheme: "Octicons"
    fontFamily: "Droid Sans"
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    confirmCompletion: "tab"
  "git-projects": {}
  minimap:
    scrollAnimation: true
    scrollAnimationDuration: 100
    displayPluginsControls: false
    charWidth: 0.7
    textOpacity: 0.5
    interline: 0.4
    charHeight: 1.5
  "recent-files-fuzzy-finder": {}
  "atom-terminal":
    app: "roxterm"
    args: "--tab"
  "custom-invisibles":
    crActive: false
    eolActive: false
    spaceActive: false
  "linter-clang": {}
  "ide-flow":
    flowPath: "/home/forivall/.opam/system/bin/flow"
  "highlight-selected":
    lightTheme: true
    onlyHighlightWholeWords: true
  "you-complete-me":
    pythonExecutable: "/usr/bin/python2"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-eslint": {}
  "file-icons":
    coloured: false
    onChanges: true
  "save-session":
    dataSaveFolder: "/home/forivall/.atom/packages/save-session/projects"
    skipSavePrompt: false
  "run-in-terminal":
    save_before_launch: false
    terminal: "ATOM_HOME= CHROME_DESKTOP= GOOGLE_API_KEY= NODE_ENV= NODE_PATH= PYTHON= roxterm --tab"
  "linter-stylint":
    stylintExecutablePath: "/home/forivall/.nvm/versions/node/v0.12.1/bin/stylint"
  "tree-view-git-projects":
    alphabetizeRoots: false
  "one-light-ui":
    fontSize: 13
  "atom-material-ui":
    compactTreeView: true
    depth: true
    disableAnimations: true
    fontSize: "Big"
    accentColor: "Blue"
    panelContrast: true
  "atom-capyba-ui":
    layoutMode: "Compact"
  "slim-dark-ui":
    layoutMode: "Compact"
  "file-types":
    el: "source.perl"
  wrap: {}
  "language-babel": {}
  "linter-scss-lint":
    executablePath: "/usr/bin/scss-lint"
  pigments:
    ignoredNames: [
      "*"
    ]
    sortPaletteColors: "by color"
  "atom-beautify":
    _analyticsUserId: "fb921142-84d5-4639-8d26-e13dc763a02c"
  "preview-plus": {}
  "status-bar": {}
  "indentation-indicator":
    indicatorPosition: "right"
    spaceAfterColon: true
  "atom-ternjs":
    lint: false
  "js-autoimport": {}
  "es-identifier-highlight":
    lightTheme: true
  "cursor-history":
    flashOnLand: true
    flashColor: "success"
    flashType: "word"
  "base16-syntax":
    scheme: "Eighties"
  "theme-switcher":
    uiThemeOne: "adwaita-pro-ui"
    uiThemeTwo: "adwaita-pro-ui"
    syntaxThemeOne: "tomorrow-ya"
    syntaxThemeTwo: "today"
  "github-notifications":
    notificationAuthToken: " a77986444ecd25d526561a4606b0be8318c6cca7"
  term3: {}
  "minimap-codeglance": {}
  "tree-view-breadcrumb":
    keepAttached: true
    pathStyle: true
    displayProjectRoot: true
    displayProjectRootName: true
    keepBreadcrumbVisible: true
  "fold-functions": {}
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
".html.ruby.text":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".erb.html.text":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".basic.html.text":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".css.scss.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".null-grammar.plain.text":
  "multi-wrap-guide":
    columns: [
      80
    ]
    rows: []
  editor:
    preferredLineLength: 80
".js.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".shell.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".makefile2.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".c.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".text.xml":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".json.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".cpp.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".gfm.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".m4.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
".jade.source":
  "multi-wrap-guide":
    columns: [
      79
    ]
  editor:
    preferredLineLength: 79
".coffee.source":
  "multi-wrap-guide":
    columns: [
      80
    ]
  editor:
    preferredLineLength: 80
