/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {

}

atom-workspace {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1pt;
}
atom-text-editor {
  &::shadow {
    -webkit-text-stroke-width: initial;
  }
  -webkit-text-stroke-width: initial;
}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {

}

atom-workspace.theme-quantum-ui {
  font-family: "DejaVu Sans", "Source Sans Pro", sans-serif;
  // font-family: "oxygen-sans", "Source Sans Pro", sans-serif;
}

.theme-quantum-ui {
  .tab-bar .tab {
    font-size: 13px;
    font-family: "Cantarell", "DejaVu Sans", sans-serif;
    font-weight: 600;
  }
  .tree-view {
    font-size: 12px;
    .project-root-header {
      font-size: 13px;
      font-family: "Cantarell", "DejaVu Sans", sans-serif;
    }
  }
}

// html, body { font-size: 13.5px; }

// Grayscale
@black:           #1d1f21; // 00
@light-black:     #282a2e; // 01
@very-dark-gray:  #373b41; // 02
@dark-gray:       #969896; // 03
@gray:            #b4b7b4; // 04
@light-gray:      #c5c8c6; // 05
@very-light-gray: #e0e0e0; // 06
@white:           #ffffff; // 07

// Colors
@red:             #c82829; // 08
@orange:          #f5871f; // 09
@light-orange:    #c99e00; // 0A
@green:           #718c00; // 0B
@cyan:            #3e999f; // 0C
@blue:            #4271ae; // 0D
@purple:          #8959a8; // 0E
@dark-red:        #a3685a; // 0F

.indent-guide-improved {
  background-color: mix(@gray, @light-gray, 50);
  &.indent-guide-stack {
    background-color: @dark-gray;
    &.indent-guide-active {
      background-color: mix(@dark-gray, @very-dark-gray, 50);
    }
  }
}
