/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {

}

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {

}

atom-workspace {
  -webkit-font-smoothing: antialiased;
  // -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-font-smoothing: optimizeLegibility;
  // text-rendering: optimizeLegibility;
  // text-rendering: geometricPrecision;
  // -webkit-text-stroke-width: 0.1pt;
}
atom-text-editor {
  &::shadow {
    -webkit-text-stroke-width: initial;
  }
  -webkit-text-stroke-width: initial;
}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {

}

atom-workspace.theme-quantum-ui {
  font-family: "DejaVu Sans", "Source Sans Pro", sans-serif;
  // font-family: "oxygen-sans", "Source Sans Pro", sans-serif;
}

.theme-quantum-ui {
  .tab-bar .tab {
    font-size: 13px;
    font-family: "Cantarell", "DejaVu Sans", sans-serif;
    font-weight: 600;
  }
  .tree-view {
    font-size: 12px;
    .project-root-header {
      font-size: 13px;
      font-family: "Cantarell", "DejaVu Sans", sans-serif;
    }
  }
}

// html, body { font-size: 13.5px; }

// Grayscale
@black:           #1d1f21; // 00
@light-black:     #282a2e; // 01
@very-dark-gray:  #373b41; // 02
@dark-gray:       #969896; // 03
@gray:            #b4b7b4; // 04
@light-gray:      #c5c8c6; // 05
@very-light-gray: #e0e0e0; // 06
@white:           #ffffff; // 07

// Colors
@red:             #c82829; // 08
@orange:          #f5871f; // 09
@light-orange:    #c99e00; // 0A
@green:           #718c00; // 0B
@cyan:            #3e999f; // 0C
@blue:            #4271ae; // 0D
@purple:          #8959a8; // 0E
@dark-red:        #a3685a; // 0F

.indent-guide-improved {
  background-color: mix(@gray, @light-gray, 50);
  &.indent-guide-stack {
    background-color: @dark-gray;
    &.indent-guide-active {
      background-color: mix(@dark-gray, @very-dark-gray, 50);
    }
  }
}

// TODO: move into adwaita-pro-ui

@tab-top-margin: 1px;
@tab-height: 34px;
@tab-total-height: @tab-top-margin + @tab-height;
@tab-bg-gradient-spacing: @tab-total-height - 1px;
.tab-bar {
  flex-wrap: wrap;
  height: auto;
  margin-top: -@tab-top-margin;
  padding-left: 5px;
  padding-right: 5px;
  background: repeating-linear-gradient(to bottom, #d6d6d6, #d6d6d6 @tab-bg-gradient-spacing, #a1a1a1 @tab-bg-gradient-spacing, #a1a1a1 @tab-bg-gradient-spacing + 1px);
  margin-bottom: -1px;
  .tab {
    margin-top: @tab-top-margin;
    &.tab {
      margin-left: 4px;
      margin-right: 4px;
    }
    height: @tab-height;
    .title {
      // transform: scale(1.08) translateY(1px);
      font-size: 1.04em; letter-spacing: -0.34px;
    }
    &:hover, &.active {
      border-bottom-width: 3px;
    }
    &:hover {
      // border-bottom-color: rgba(193,196,193,0.9);
      border-bottom-color: rgba(93,94,93,0.4);
      border-left-color: #C0C0C0;
      border-right-color: #C0C0C0;
      background-color: #DADADA;
      box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.05);
    }
    &.active {
      margin-top: 0;
      padding-top: @tab-top-margin;
      height: @tab-total-height;
      box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.10);
      &:hover {
        background-color: #E6E6E6;
        box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, 0.04);
      }
      .title {
        padding-right: 0;
      }
    }
  }
}
